/* * {
  outline: solid 1px red;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(matrixCode.gif);
  background-size: cover;
  background-position: center;
}

header {
  height: 10vh;
}

@media(max-width: 768px) {
  .sm-clicker {
    height: 40vh;
    width: 40%;
  }
}

.clicker {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

footer {
  height: 10%;
  color: rgb(127, 235, 19);
}