* {
  outline: solid 1px red;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  background-image: url(matrixCode.gif);
  background-size: cover;
  background-position: center;
}

header {
  height: 10vh;
}

/* TODO add @media for mobile on image size */

@media(max-width: 768px) {
  .sm-clicker {
    height: 80%;
    width: 80%;
  }
}

.clicker {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

footer {}