* {
  outline: solid 1px red;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: grey; */
  background-image: url(matrixCode.gif);
  background-size: cover;
  background-position: center;
}

header {
  height: 10vh;
}

/* TODO add @media for mobile on image size */

.clicker {
  height: 30vh;
  width: 40vw;
  cursor: pointer;
}

main {
  flex-grow: 1;
}

footer {}